// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Questrial|Open-Sans');

// COLOR VARIABLES
$color-primary-dark: #1D1E22;
$color-primary: #bde0ff;

$color-gray: #8e8e90;

$bg-color: #ececec;

// FONT VARIABLES
$font-heading: 'Questrial', sans-serif;
$font-primary: 'Open Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px/16px = 75
$bp-large: 50em; // 800/16 = 50
$bp-medium: 37.5em; // 600/16 = 37.5
$bp-small: 25em; // 400/16 = 25

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-medium) {
        font-size: 55%;
    }
}

body {
    background-color: $bg-color;
    font-family: $font-primary;
    color: $color-primary-dark;
    line-height: 1.5;
}

html, body {
    min-height: 100%;
}

.dark-theme {
    background-color: $color-primary-dark;
    color: $bg-color;
}

section {
    padding-bottom: 10rem;
}