.dark-theme {
    .resume {
        
        &__redirect {
            &:link,
            &:visited {
                color: $bg-color;
            }

            &:hover {
                border: 1px solid $bg-color;
            }
        }

        &__content--summary {
            color: $color-gray;
        }

        &__content--text {
            color: $color-gray;
        }

        &__icon {
            fill: $bg-color;

            &:hover {
                fill: transparent;
                stroke: $bg-color;
            }
        }

        &__theme {

            &--switch {
                color: $bg-color;
                border: 1px solid $bg-color;
                background-color: transparent;
                font-size: 1.1rem;
                padding: 1rem 3rem;
                text-transform: uppercase;
                text-decoration: none;
                transition: all .3s;

                &:hover {
                    color: $color-primary-dark;
                    background-color: $bg-color;
                    border: 1px solid transparent;
                }
            }
        }
    }
}