.resume {
    width: 100%;
    font-size: 1.5rem;
    padding: 0;
    transition: all .3s;

    display: grid;
    justify-items: center;

    &__redirect {
        &:link,
        &:visited {
            color: $color-primary-dark;
            position: absolute;
            top: 3rem;
            left: 3rem;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            border: 1px solid transparent;
            padding: 1rem;
            transition: all .2s;
        }

        @media screen and (max-width: $bp-small) {
            font-size: 1rem;
            padding: .5rem;
        }

        &:hover {
            border: 1px solid $color-primary-dark;
        }
    }

    &__content {
        width: 60%;
        padding: 10rem;

        @media only screen and (max-width: $bp-largest) {
            width: 80%;
        }

        @media only screen and (max-width: $bp-large) {
            width: 90%;
            padding: 10rem 7rem 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
            padding: 10rem 3.5rem 2rem;
        }

        &--header {
            font-size: 1.3rem;
            text-align: center;
            padding-bottom: 1.5rem;
        }

        &--name {
            font-size: 4rem;
            font-family: $font-heading;
            text-transform: uppercase;
            letter-spacing: .3rem;
        }

        &--links {
            
            a,
            a:link,
            a:visited {
                color: inherit;
                text-decoration: none;
                padding: 0 1rem;
            }
        }

        &--email {
            margin: 0 0;
            padding: 0 .5rem;
            display: inline;
            margin: 0 auto;
        }

        &--summary {
            text-align: left;
            padding: 1rem 0;
        }

        &--section {
            margin: 1rem 0;
        }

        &--heading {
            font-family: $font-heading;
            font-size: 1.6rem;
            font-weight: 100;
            text-transform: uppercase;
            display: inline-block;
            margin: 1.5rem 0;
            letter-spacing: .2rem;
        }
    }

    &__download {
        position: absolute;
        top: 10rem;
        right: 4rem;

        @media screen and (max-width: $bp-large) {
            top: auto;
            right: auto;
            position: relative;
            margin-bottom: 4rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
        }

    }

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: $color-primary-dark;
        margin: 0 1rem;
        transition: all .2s;

        @media only screen and (max-width: $bp-medium) {
            width: 2rem;
            height: 2rem;
        }

        &:hover {
            fill: transparent;
            stroke: $color-primary-dark;
        }
    }

    .list {
        padding-left: 1rem;
    }

    &__theme {
        position: absolute;
        top: 4rem;
        right: 4rem;

        @media screen and (max-width: $bp-small) {
            top: 3rem;
            right: 3rem;
            transform: translateY(50%);
        }

        &--switch {
            color: $color-primary-dark;
            border: 1px solid $color-primary-dark;
            background-color: transparent;
            font-size: 1.1rem;
            padding: 1rem 3rem;
            text-transform: uppercase;
            text-decoration: none;
            transition: all .3s;

            @media screen and (max-width: $bp-small) {
                font-size: 1rem;
                padding: .5rem 2rem;
            }

            &:hover {
                color: $bg-color;
                background-color: $color-primary-dark;
                border: 1px solid transparent;
            }
        }
    }
}

